<div class="card m-5">
    <div class="card-header">
        <h5>Account List</h5>
    </div>
    <div class="card-body p-0 mb-1">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Account Type</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let list of accountsList; let i=index;">
                    <tr>
                        <td>{{list.account_number}}</td>
                        <td>{{list.account_type}}</td>
                        <td>{{list.balance | currency:'ZAR '}}</td>
                        <td>
                            <button class="btn" (click)="withDrawBal(list)" [ngClass]="{'btn-success':list.balance>0,'btn-default':list.balance<0}">Withdraw</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">Balance</th>
                    <th>{{totalBalance | currency:'ZAR '}}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>